imagePullSecrets:
  - name: acr-secret
frontend:
  replicaCount: 2
  image:
    repository: chatregi.azurecr.io/msgapp-frontend
    pullPolicy: IfNotPresent
    tag: "cf70584dfe583593949cf0dc70ac86e196cf44ac"
  service:
    type: ClusterIP
    port: 3000
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
backend:
  replicaCount: 2
  image:
    repository: chatregi.azurecr.io/msgapp-backend
    pullPolicy: IfNotPresent
    tag: "cf70584dfe583593949cf0dc70ac86e196cf44ac"
  service:
    type: ClusterIP
    port: 5000
  env:
    port: "5000"
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 10
    maxReplicas: 50
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80
worker:
  replicaCount: 2
  image:
    repository: chatregi.azurecr.io/msgapp-worker
    pullPolicy: IfNotPresent
    tag: "cf70584dfe583593949cf0dc70ac86e196cf44ac"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
redis:
  enabled: true
  image:
    repository: redis
    tag: "7-alpine"
rabbitmq:
  enabled: true
  username: "msgapp"
azure:
  keyvaultName: "keyforchat"
  tenantId: "a98d4f97-7b80-4a49-b027-f8e17ebc7c3c"

monitoring:
  enabled: false
  prometheus:
    enabled: true
    release: prometheus
  grafana:
    enabled: true
    dashboard:
      enabled: true
      label: "grafana_dashboard"
      labelValue: "1"
    serviceName: "prometheus-grafana"
    ingress:
      enabled: false
      host: "grafana.msgapp.local"
