imagePullSecrets:
  - name: acr-secret
mongodb:
  enabled: true
  image:
    repository: mongo
    tag: "7.0"
    pullPolicy: IfNotPresent
  database: msgapp
  replicaCount: 1
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  persistence:
    enabled: true
    size: 5Gi
    storageClass: ""
frontend:
  replicaCount: 2
  image:
    repository: chatregi.azurecr.io/msgapp-frontend
    pullPolicy: IfNotPresent
    tag: "fcd6e0e33be59f31029ab23a557534479e79320c"
  service:
    type: ClusterIP
    port: 3000
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
backend:
  replicaCount: 2
  image:
    repository: chatregi.azurecr.io/msgapp-backend
    pullPolicy: IfNotPresent
    tag: "fcd6e0e33be59f31029ab23a557534479e79320c"
  service:
    type: ClusterIP
    port: 5000
  env:
    port: "5000"
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80
worker:
  replicaCount: 2
  image:
    repository: chatregi.azurecr.io/msgapp-worker
    pullPolicy: IfNotPresent
    tag: "fcd6e0e33be59f31029ab23a557534479e79320c"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
redis:
  enabled: true
  image:
    repository: redis
    tag: "7-alpine"
rabbitmq:
  enabled: true
  username: "msgapp"
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi
azure:
  keyvaultName: "keyforchat"
  tenantId: "a98d4f97-7b80-4a49-b027-f8e17ebc7c3c"
  clientId: "425e9191-5b26-4492-8afb-53efebc721be"

ingress:
  enabled: true
  host: "secondbrainbackend.me"

monitoring:
  enabled: true
  prometheus:
    enabled: true
    release: prometheus
  grafana:
    enabled: true
    dashboard:
      enabled: true
      label: "grafana_dashboard"
      labelValue: "1"
    serviceName: "prometheus-grafana"
    ingress:
      enabled: false
      host: "grafana.msgapp.local"
