apiVersion: apps/v1
kind: Deployment
metadata:
  name: msgapp-redis
  labels:
    app: msgapp
    component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: msgapp
      component: redis
  template:
    metadata:
      labels:
        app: msgapp
        component: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
          name: redis
          protocol: TCP
        command:
          - redis-server
          - --appendonly
          - "yes"
        volumeMounts:
        - name: redis-data
          mountPath: /data
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
      volumes:
      - name: redis-data
        emptyDir: {}
